services:
  mysql:
    image: mysql:8.4.7
    container_name: tourismo-db
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 30
    networks:
      - tourismo_net


  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: tourismo-api
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - tourismo_net

volumes:
  db_data:

networks:
  tourismo_net:
    driver: bridge
